
*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}

#wrapper{
 /*width: 950px;*/
}

#header{
 height: 150px;
 background-color: green;
 width: 100%;
 margin: 10px;
}

#navigation{
 height: 300px;
 width: 200px;
 margin: 10px;
 background-color: blue;
 display: inline-block;
}

#main_content{
 height: 400px;
 width: 660px;
 margin: 10px;
 padding: 1%;
 background-color: red;
 display: inline-block;
 vertical-align: top;
}

.subcontents{
 height: 160px;
 width: 32%;
 margin: 2px;
 background-color: yellow;
 display: inline-block;
}

#advertisement{
 height: 110px;
 width: 99%;
 background-color: purple;
 margin-top: 10px;
}
